<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ndphu.app.lightning.downloader"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ndphu.app.lightning.downloader.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ndphu.app.lightning.downloader.DownloadActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter android:label="Download Faster" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:pathPattern=".*\\.zip"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.zip"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.zip"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.zip"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.zip"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.rar"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.rar"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.rar"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.rar"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.rar"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.7z"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.7z"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.7z"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.7z"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.7z"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.mp3"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.mp3"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.mp3"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.mp3"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mp3"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.mp4"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.mp4"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.mp4"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.mp4"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mp4"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.wmv"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.wmv"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.wmv"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.wmv"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.wmv"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.wma"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.wma"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.wma"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.wma"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.wma"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.tar"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.tar"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.tar"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.tar"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.tar"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.gz"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.gz"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.gz"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.gz"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.gz"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.img"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.img"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.img"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.img"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.img"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.apk"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.apk"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.apk"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.apk"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.apk"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.exe"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.exe"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.exe"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.exe"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.exe"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.flac"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.flac"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.flac"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.flac"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.flac"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.doc"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.doc"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.doc"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.doc"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.doc"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.docx"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.docx"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.docx"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.docx"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.docx"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.bin"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.bin"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.bin"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.bin"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.bin"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.xls"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.xls"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.xls"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.xls"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.xls"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.xlsx"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.xlsx"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.xlsx"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.xlsx"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.xlsx"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.ppt"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.ppt"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.ppt"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.ppt"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ppt"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.pptx"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.pptx"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.pptx"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.pptx"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.pptx"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.pdf"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.pdf"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.pdf"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.pdf"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.pdf"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.sh"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.sh"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.sh"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.sh"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.sh"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.ksh"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.ksh"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.ksh"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.ksh"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ksh"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.msc"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.msc"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.msc"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.msc"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.msc"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.txt"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.txt"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.txt"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.txt"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.txt"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.log"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.log"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.log"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.log"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.log"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>